<models>
            <learning_slider>
                <class>Learning_Slider_Model</class>
                <resourceModel>learning_slider_resource</resourceModel>
            </learning_slider>
            <learning_slider_resource>
                <class>Learning_Slider_Model_Resource</class>
                <entities>
                    <slide>
                        <table>learning_slider_slide</table>
                    </slide>
                </entities>
            </learning_slider_resource>
        </models>
        <resources>
            <learning_slider_setup>
                <setup>
                    <module>Learning_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_slider_setup>
            <learning_slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_slider_write>
            <learning_slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_slider_read>
        </resources>
<adminhtml>
<translate>
    <modules>
        <learning_slider>
            <files>
                <default>Learning_Slider.csv</default>
            </files>
        </learning_slider>
    </modules>
</translate>
<layout>
    <updates>
        <learning_slider>
            <file>learning/slider.xml</file>
        </learning_slider>
    </updates>
</layout>
</adminhtml>